.Container {
	position: fixed;
	z-index: 10;
	background-color: #292927;
	width: 100%;
	top: 0;
}

.Header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	text-align: right;
	width: 70%;
	margin: 0 auto;
	color: white;
	padding: 5px 20px;
}

.Header button {
	margin-top: 5px;
	padding: 5px 15px;
}

.HeaderText {
	text-align: left;
	width: 85%;
}

.ButtonContainer {
	width: auto;
	margin-top: 10px;
}

.ButtonContainer button {
	border: 1px solid grey;
}

@media (max-width: 500px) {
	.Header {
		width: 90%;
		left: 0;
	}

	.Header button {
		margin-top: 5px;
		padding: 3px 15px;
	}
}
