.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.DisplayList {
	width: 97%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media (max-width: 500px) {
	.DisplayList {
		width: 90%;
		padding: 0;
	}
}
